body {
    padding-top: 60px;
}
h1 {
    margin: 0;
    padding-bottom: 5;
    text-align: center;
}

dd {
    text-align: center;
    border-bottom: 8 solid #eee;
    font-family: sans-serif
}
dt {
    text-align: center
}

div.error {
    text-align: center;
}

.error {
	color: #ff0000;
    font-family: 'Georgia', serif;
	padding: 4;
	margin: 8;
}

#login {
    text-align: center;
    margin: 0 auto;
    width: 400px;
}

#login-help {
    font-size: 80%;
}

#footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 80%;
    width: 99%;
    height: 3em;
}