body {
    font-family: sans-serif;
    background: #eee;
}
h1 {
    color: #377BA8;
    font-family: 'Georgia', serif;
    margin: 0;
    border-bottom: 2px solid #eee;
    text-align: center;
}

dd {
    text-align: center;
    border-bottom: 8px solid #eee;
    font-family: sans-serif
}
dt {
    text-align: center
}

div.error {
    text-align: center;
}

.error {
	color: #ff0000;
    font-family: 'Georgia', serif;
	padding: 4px;
	margin: 8px;
}

#login {
    text-align: center;
    margin: 0 auto;
    width: 400px;
}

#login-help {
    font-size: 80%;
}